<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuhaokui.statistics.mapper.sonar.SonarMapper">

    <select id="getSonarProject" resultType="SonarProject">
       select NAME from PROJECTS where SCOPE = 'PRJ';
    </select>

    <select id="getSonarResult" resultType="SonarResult">
        select PROJECTS.NAME, LIVE_MEASURES.VALUE from LIVE_MEASURES
        right join PROJECTS on LIVE_MEASURES.PROJECT_UUID = PROJECTS.UUID
        left join SNAPSHOTS on LIVE_MEASURES.COMPONENT_UUID = SNAPSHOTS.COMPONENT_UUID
        where LIVE_MEASURES.METRIC_ID = 52 and PROJECTS.SCOPE = 'PRJ' and SNAPSHOTS.ISLAST;
    </select>
</mapper>
